html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .background-wrapper {
    position: relative;
    min-height: 100vh;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }